.upload-popup {
    position: absolute;
    background-color: beige;
    margin-left: 120px;
    margin-top: 15px;
    width: 200px;
    z-index: 10 !important;
    padding: 5px;
}

.prompt {
    font-size: 14px;
}